<html>

<head>
    <title>Auth Sample</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <!--Load Jquery - if not able to get from CDN then load it locally-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        !window.jQuery && document.write('<script src="../libs/jquery/jquery-2.1.1.min.js"><\/script>')
    </script>
    <!--Load Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
        !window.Materialize && document.write('<script src="../libs/materialize/dist/js/materialize.min.js"><\/script>')
    </script>

    <!--Main Nav Bar-->
    <nav class="lime amber accent-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../images/main_nav_icon.png" class="img-circle-sm"></img>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button btn blue darken-3" href="#" data-activates="userOptions">
                        <div id="userName">Welcome User</div>
                    </a>
                </li>
                <li class="active"><a href="main.html">Home</a></li>
                <li><a href="projects.html"><i class="material-icons right">work</i>Projects</a></li>
                <li><a href="keys.html"><i class="material-icons right">vpn_key</i>API Keys</a></li>
                <li><a href="analytics.html"><i class="material-icons right">insert_chart</i>Analytics</a></li>
            </ul>

            <ul id="userOptions" class="dropdown-content">
                <li><a href="#!">Edit Account</a></li>
                <li class="divider"></li>
                <li><a type="button" onclick="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div id="enableAPIModal" class="modal">
        <div class="modal-content">
            <form class="col s12 m6 offset-m3" id="token_form" name="token_form" onsubmit="return false">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="dev_id" name="dev_id" type="text" disabled="">
                    </div>
                    <div class="input-field col s8">
                        <input id="email" name="email" type="text" disabled="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_name" name="project_name" type="text" class="validate" required="">
                        <label for="project_name" data-error="project name too short">Project Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="descript" name="descript" type="text">
                        <label for="descript">Description</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class=" modal-action waves-effect waves-green btn-flat" onclick="registerProject()" form="token_form">Done</button>
        </div>
    </div>

    <!--This code is just for viewing purposes, this is what is displayed on the sample page-->
    <div class="row" style="margin-top:1%;">
        <div class="col s12 m4 offset-m1">
            <div id="socialColRen">
                <div class="row" style="margin-top:1%">
                    <div class="col s12 m4 reducepadding">
                        <div id="googleRen" class="row" style="margin-bottom:1%">
                            <a id="googleLinkRen">
                                <img src="../images/google.png" alt="HTML tutorial" style="width:100%;height:6%;border:0">
                            </a>
                        </div>
                    </div>
                    <div id="" class="col s12 m4 reducepadding">
                        <div id="linkedinRen" class="row" style="margin-bottom:1%">
                            <a id="linkedinLinkRen">
                                <img src="../images/linkedin.png" alt="HTML tutorial" style="width:100%;height:6%;border:0">
                            </a>
                        </div>
                    </div>
                    <div id="" class="col s12 m4 reducepadding">
                        <div id="facebookRen" class="row" style="margin-bottom:1%">
                            <a id="facebookLinkRen">
                                <img src="../images/facebook.png" alt="HTML tutorial" style="width:100%;height:6%;border:0">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:1%">
                    <div id="" class="col s12 m4 reducepadding">
                        <div id="instagramRen" class="row" style="margin-bottom:1%">
                            <a id="instagramLinkRen">
                                <img src="../images/instagram.png" alt="HTML tutorial" style="width:100%;height:6%;border:0">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <form id="formRen" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="id" placeholder="ID" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <input id="password" placeholder="Password" type="text" class="validate">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <textarea id="textarea1" rows="4" cols="50" style="width: 100%; font-size:10px; height: 80%;"></textarea>
        </div>
    </div>

    <!-- Actual HTML code on the DOM that JQuery will manipulate for the specific user-->
    <!-- Reason for two code snippet is that HTML is pulled directly from DOM but the image url needs to be changed so that
the address can be that of the server and some other issues with the position of components
-->
    <div id="code">
        <div class="row" style="margin-top:1%;">
            <div id="socialColContainer" class="col s12 m4 offset-m1">
                <div class="row" style="margin-top:1%">
                    <div class="col s12 m12">
                        <div id="" class="col s12 m4" style="padding:2;margin:0">
                            <div id="google" class="row" style="margin-bottom:1%">
                                <a id="googleLink">
                                    <img src="http://192.168.0.2/api-console/images/google.png" style="width:100%;height:6%;border:0">
                                </a>
                            </div>
                        </div>
                        <div id="" class="col s12 m4" style="padding:2;margin:0">
                            <div id="linkedin" class="row" style="margin-bottom:1%">
                                <a id="linkedinLink">
                                    <img src="http://192.168.0.2/api-console/images/linkedin.png" style="width:100%;height:6%;border:0">
                                </a>
                            </div>
                        </div>
                        <div id="" class="col s12 m4" style="padding:2;margin:0">
                            <div id="facebook" class="row" style="margin-bottom:1%">
                                <a id="facebookLink">
                                    <img src="http://192.168.0.2/api-console/images/facebook.png" style="width:100%;height:6%;border:0">
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div id="" class="col s12 m4" style="padding:2;margin:0">
                                <div id="instagram" class="row" style="margin-bottom:1%">
                                    <a id="instagramLink">
                                        <img src="http://192.168.0.2/api-console/images/instagram.png" style="width:100%;height:6%;border:0">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="regContainer" class="col s12 m6">
                <form id="form" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="id" placeholder="ID" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <input id="password" placeholder="Password" type="text" class="validate">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" onclick="enableProject()">
            <i class="material-icons">add</i>
        </a>
    </div>
    <script>
        //Get the dev_id and email from the cookie
        var cookemail = getCookie("email");
        var cookdev = getCookie("dev_id");
        var uname = document.getElementById("userName");
        uname.innerHTML = "Welcome " + cookemail;
        /*
          Pulls all the relevant data from the session, the Token used in the registration, the authentication options selected by the user
          the fields and their corresponding name if regular registration was selected
        */
        $(document).ready(function() {
            //Hide the code that will be maniplated - another code snippet is already there for display
            $("#code").hide();
            getTokenSession(function(token_data, redirect_url_data) {
                var token = token_data;
                var redirect_url = redirect_url_data;
                getAuthSelectSession(function(response) {
                    if (response.emailReg == "true") {
                        getRegistrationSession(function(result) {
                            //This loop will add the selected fields to the HTML code
                            for (var key in result) {
                                if (result.hasOwnProperty(key)) {
                                    if (result[key] != null) {
                                        //These can be ignored as they are default(already in the html code) so need to add them
                                        if (result[key] != "id" && result[key] != "password") {
                                            $("#formRen").append("<div class=row><div class=input-field col s12 m2><input id=" + result[key] + " placeholder=" + result[key] + " type=text class=validate></div></div>");
                                            $("#form").append("<div class=row><div class=input-field col s12 m2><input id=" + result[key] + " placeholder=" + result[key] + " type=text class=validate></div></div>");
                                        }
                                    }
                                }
                            }
                            buildDeveloperCode(token, redirect_url, response);
                        })
                    } else {
                        //If the user did not select regular registration
                        $("#regContainer").remove();
                        $("#formRen").remove();
                        buildDeveloperCode(token, redirect_url, response);
                    }
                });
            });
        });
        /*
          Responsible for building the sample code, it will remove social components from the DOM that the user did not select
          it also add element attributes using the token and redirect_url that was stored in the session earlier
        */
        function buildDeveloperCode(token, redirect_url, selectedOptions) {
            if (selectedOptions.facebookSocial == "false" &&
                selectedOptions.googleSocial == "false" &&
                selectedOptions.linkedinSocial == "false" &&
                selectedOptions.instagramSocial == "false") {
                //If no social option is selected them just remove the social divs
                $("#socialColContainer").remove();
                $("#socialColRen").remove();
            } else {
                if (selectedOptions.facebookSocial == "false") {
                    $("#facebook").remove();
                    $("#facebookRen").remove();
                } else {
                    $("#facebookLink").attr("href", "socialloginhub.php?token=" + token + "&socialtype=facebook&redirect_url=" + redirect_url);
                }
                if (selectedOptions.googleSocial == "false") {
                    $("#google").remove();
                    $("#googleRen").remove();
                } else {
                    $("#googleLink").attr("href", "socialloginhub.php?token=" + token + "&socialtype=google&redirect_url=" + redirect_url);
                }
                if (selectedOptions.linkedinSocial == "false") {
                    $("#linkedin").remove();
                    $("#linkedinRen").remove();
                } else {
                    $("#linkedinLink").attr("href", "socialloginhub.php?token=" + token + "&socialtype=linkedin&redirect_url=" + redirect_url);
                }
                if (selectedOptions.instagramSocial == "false") {
                    $("#instagram").remove();
                    $("#instagramRen").remove();
                } else {
                    $("#instagramLink").attr("href", "socialloginhub.php?token=" + token + "&socialtype=instagram&redirect_url=" + redirect_url);
                }
            }
            //Add the neccessary libraries needed
            $("#code").prepend("<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'><\/script>");
            $("#code").prepend("<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'><\/script>");
            $("#code").prepend("<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>");
            //Get the code html code and put it in the textarea
            document.getElementById("textarea1").value = $("#code").html();
        }
        /*
          Get the selected registration fields from the session asynchronously
        */
        function getRegistrationSession(callback) {
            $.ajax({
                type: "POST",
                url: "../php/ss_GetRegistration.php",
                dataType: "json",
                success: function(res) {
                    callback(res);
                },
                error: function(err) {
                    alert("ERR: " + JSON.stringify(err));
                }
            });
        }
        /*
          Get the token from the session asynchronously
        */
        function getTokenSession(callback) {
            $.ajax({
                type: "POST",
                url: "../php/ss_GetToken.php",
                dataType: "json",
                success: function(res) {
                    if (res.response == 1) {
                        callback(res.token, res.redirect_url);
                    } else if (res.response == -1) {
                        alert(res.message);
                        callback("", "");
                    }
                },
                error: function(err) {
                    alert("ERR: " + JSON.stringify(err));
                }
            });
        }
        /*
          Get the selected authentication options from the session asynchronously
        */
        function getAuthSelectSession(callback) {
            $.ajax({
                type: "POST",
                url: "../php/ss_GetAuthSelect.php",
                dataType: "json",
                success: function(res) {
                    if (res.response == 1) {
                        callback(res);
                    } else if (res.response == -1) {
                        alert(res.message);
                        callback({});
                    }
                },
                error: function(err) {
                    alert("ERR: " + JSON.stringify(err));
                }
            });
        }
        /*
          Opens a modal box when the user selects add project
          It retrieves the user email and dev_id from the cookie and displays it in the modal
        */
        function enableProject() {
            var email = document.getElementById("email");
            var dev_id = document.getElementById("dev_id");
            $("#enableAPIModal").openModal();
            email.value = cookemail;
            dev_id.value = "Developer ID : " + cookdev;
        }
        /*
          Stores project information to database and closes the modal box
        */
        function registerProject() {
            var project_name = document.getElementById("project_name");
            var descript = document.getElementById("descript");
            if (project_name.value == "" || descript.value == "") {
                Materialize.toast('Project name or description cannot be empty', 6000);
            } else {
                $.ajax({
                    type: "POST",
                    url: "../php/db_RegisterProject.php",
                    dataType: "json",
                    data: "dev_id=" + cookdev + "&descript=" + descript.value + "&project_name=" + project_name.value,
                    success: function(res) {
                        if (res.response == 1) {
                            Materialize.toast('API registration SUCCESSFUL', 6000);
                        } else if (res.response == 0) {
                            Materialize.toast('API registration FAILED', 6000);
                        } else if (res.response == -1) {
                            alert(res.message);
                        }
                        $("#enableAPIModal").closeModal();
                    },
                    error: function(err) {
                        alert("ERR: " + JSON.stringify(err));
                        Materialize.toast('API registration FAILED', 6000);
                        $("#enableAPIModal").closeModal();
                    }
                });
            }
        }
        /*
          Method used to create a cookie - expiration date is optional
        */
        var createCookie = function(name, value, days) {
                var expires;
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toGMTString();
                } else {
                    expires = "";
                }
                document.cookie = name + "=" + value + expires + "; path=/";
            }
        /*
          Method used to retrieve the cookie
        */
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
        /*
          Method to delete cookie - overwrite the cookie value to empty and set expiration date to yesterday
        */
        function deleteCookie(name) {
            createCookie(name, "", -1);
        }
        /*
          expires user email and dev_id in the cookie when they log out
        */
        function logout() {
            //Expire it
            deleteCookie("email");
            deleteCookie("dev_id");
            window.location = "../index.html";
        }
    </script>
</body>

</html>
