<html>

<head>
    <title>Main</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <!--Load Jquery - if not able to get from CDN then load it locally-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        !window.jQuery && document.write('<script src="../libs/jquery/jquery-2.1.1.min.js"><\/script>')
    </script>
    <!--Load Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
        !window.Materialize && document.write('<script src="../libs/materialize/dist/js/materialize.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.5.8/JsBarcode.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.22/webcam.js"></script>
    <!--Main Nav Bar-->
    
    <div class="row">
        <div class="col s12 m3">
            <div class="row">
                <div class="col s12 m12">
                    <span id="clock"></span>
                    <p>
                        <a href="main.html"><i class="medium material-icons">web</i></a>             
                        <a href="javascript:void(take_snapshot())"><i class="medium material-icons">surround_sound</i></a>  
                    </p>
                    <!--4:12pm-->
                </div>
            </div>
        </div>
        <div class="col s12 offset-m5" style="margin-top: -10%">
            <div id="cont_28f9e216ae6ea94728158e0433864bb4">
                <script type="text/javascript" async src="https://www.theweather.com/wid_loader/28f9e216ae6ea94728158e0433864bb4"></script>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 offset-m4">
            <div id="my_camera" style="width:420px; height:240px;"></div><p></p>
            <div id="my_result"></div>
        </div>
    </div>
    <script language="JavaScript">
        Webcam.attach('#my_camera');

        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
            });
        }
    </script>

    <script>
      (function () {
            var clockElement = document.getElementById("clock");

            function updateClock(clock) {
                clock.innerHTML = "<h4><bold>" + new Date().toLocaleTimeString() + "</bold></h4>";
            }
            setInterval(function () {
                updateClock(clockElement);
            }, 1000);
        }());

        /*
          Method used to create a cookie - expiration date is optional
        */
        var createCookie = function (name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }
        /*
          Method used to retrieve the cookie
        */
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
        /*
          Method to delete cookie - overwrite the cookie value to empty and set expiration date to yesterday
        */
        function deleteCookie(name) {
            createCookie(name, "", -1);
        }
        /*
          expires user email and dev_id in the cookie when they log out
        */
        function logout() {
            //Expire it
            deleteCookie("email");
            deleteCookie("dev_id");
            window.location = "../index.html";
        }
    </script>
</body>

</html>